{% extends "base.html "%}
{% block title %}
Custom Registration
{% endblock %}
{% block content %}
<h1>Custom Registration</h1>
<form method="post" action="">
{%  csrf_token %}
    <p>Username : <input type="text" name="username"> </p>
    <p>First name : <input type="text" name="firstname"> </p>
    <p>Last name : <input type="text" name="lastname"> </p>
    <p>Email : <input type="text" name="email"> </p>
    <p>Password : <input type="password" name="password1"> </p>
    <p>Password confirmation : <input type="password" name="password2"> </p>
    <p>BIO : <textarea rows="10" cols="50" name="bio"></textarea></p>
    <p>Website : <input type="text" name="website"> </p>
    <button>Sign Up</button>

</form>
{% endblock %}
